---
interface Props {
  title: string;
}

const { title } = Astro.props;
---

<h3 class="uppercase font-bold mb-4 border-b pb-2" style="letter-spacing: 2px;">
  {title}
</h3>
<div class="grid grid-cols-[repeat(auto-fill,4.5rem)] gap-4 mb-8">
  <slot />
</div>
