---
import LinkButton from "../LinkButton.astro";
import GithubIcon from "../icons/GithubIcon.astro";
import LinkedInIcon from "../icons/LinkedInIcon.astro";
---

<section id="home">
    <div
        class="min-h-screen flex flex-col-reverse md:grid md:grid-cols-2 items-center gap-12 pb-12 sm:pb-0"
    >
        <div class="flex flex-col gap-12">
            <h1 class="text-5xl sm:text-7xl font-bold text-center md:text-left">
                Hi <span class="animate-handWave inline-block">🖖</span>, I'm <span
                    class="text-yellow-500">Alejandro</span
                ><br /> a full stack web developer.
            </h1>
            <div class="flex flex-col gap-3">
                <p class="text-lg">
                    I'm a full stack web developer with a passion for building
                    beautiful, functional, and accessible websites. I'm
                    currently working at my own projects and freelancing.
                </p>
                <p class="text-lg">
                    If you believe we can work together, feel free to contact
                    me.
                </p>
            </div>
            <div class="flex gap-4">
                <LinkButton
                    href="https://www.linkedin.com/in/willywes/"
                    title="Contact me on LinkedIn"
                >
                    <LinkedInIcon />
                    LinkedIn
                </LinkButton>
                <LinkButton
                    href="https://github.com/willywes"
                    title="Contact me on Github"
                >
                    <GithubIcon /> Github
                </LinkButton>
            </div>
        </div>
        <div class="flex justify-center md:justify-end p-6 lg:p-12">
            <div
                class="me rounded-full bg-yellow-500 shadow-xl border-2 border-yellow-500"
            >
                <img
                    class="rounded-full cover"
                    src="/me.png"
                    alt="Alejandro Isla"
                />
            </div>
        </div>
    </div>
</section>

<script is:inline>
    // change height of image from width change

    const image = document.querySelector(".me");
    const img = document.querySelector(".me img");

    const changeHeight = () => {
        const width = image.offsetWidth;
        image.style.height = `${width}px`;
    };

    window.addEventListener("resize", changeHeight);
    window.addEventListener("load", changeHeight);

    // on hover follow mouse effect
    const followMouse = (e) => {
        const { layerX, layerY } = e;

        const yRotation =
            ((layerX - image.offsetWidth / 2) / image.offsetHeight) * 40;

        const xRotation =
            ((layerY - image.offsetHeight / 2) / image.offsetHeight) * 40;

        image.style.transform = `perspective(1000px) rotateX(${xRotation}deg) rotateY(${yRotation}deg)`;
        image.style.scale = `1.1`;
        image.style.transition = `scale 0.05s ease-in-out`;
        // image.style.filter = `brightness(1)`;

        img.style.transform = `perspective(1000px) scale(1.05) rotateX(${-yRotation}deg) rotateY(${-xRotation}deg) translate(0, -7%)`;
        img.style.transition = `all 0.1s ease-in-out`;
        img.style.backgroundColor = `rgba(255, 255, 0, 0.1)`;
        img.style.boxShadow = `0 0 3rem 0.5rem rgba(0, 0, 0, 0.5)`;
        img.style.backdropFilter = `blur(2rem)`;
    };

    image.addEventListener("mousemove", followMouse);

    const reset = () => {
        image.style.transform = `translate(0, 0)`;
        image.style.scale = `1`;
        // image.style.filter = `brightness(0.9)`;

        img.style.transform = `translate(0, 0)`;
        img.style.backgroundColor = `transparent`;
        img.style.boxShadow = `none`;
        img.style.backdropFilter = `none`;
    };

    image.addEventListener("mouseleave", reset);

    // on hover follow mouse effect
</script>
