---
import Section from "../Section.astro";
---

<Section id="what-i-have-learned">
    <div class="flex flex-col gap-6 justify-end">
        <h2 class="text-4xl sm:text-6xl font-bold">About my work</h2>
        <p>
            I'm a full stack web developer with a passion for building
            beautiful, functional, and accessible websites. I'm currently
            working at my own projects and freelancing.
        </p>
    </div>
</Section>
