<section id="who-i-am" class="who-i-am">
  <div class="container">
    <div class="content">
      <h2>
        <span>Who</span> I am
      </h2>
      <p>
        I am a full-stack web developer with a passion for building beautiful
        and functional websites. I have a strong background in web development
        and I am skilled in HTML, CSS, JavaScript, React, Node.js, and MongoDB.
        I am a quick learner and I am always looking to expand my knowledge and
        skill set. I am a team player and I am always willing to help others
        when needed. I am a hard worker and I am always looking for ways to
        improve my work ethic. I am a problem solver and I am always looking for
        ways to improve my problem solving skills. I am a team player and I am
        always willing to help others when needed. I am a hard worker and I am
        always looking for ways to improve my work ethic. I am a problem solver
        and I am always looking for ways to improve my problem solving skills. I
        am a team player and I am always willing to help others when needed. I
        am a hard worker and I am always looking for ways to improve my work
        ethic. I am a problem solver and I am always looking for ways to improve
        my problem solving skills. I am a team player and I am always willing to
        help others when needed. I am a hard worker and I am always looking for
        ways to improve my work ethic. I am a problem solver and I am always
        looking for ways to improve my problem solving skills. I am a team
        player and I am always willing to help others when needed. I am a hard
        worker and I am always looking for ways to improve my work ethic. I am a
        problem solver and I am always looking for ways to improve my problem
        solving skills. I am a team player and I am always willing to help
        others when needed. I am a hard worker and I am always looking for ways
        to improve my work ethic. I am a problem solver and I am always looking
        for ways to improve my problem solving skills. I am a team player and I
        am always willing to help others when needed. I am a hard worker and I
        am always looking for ways to improve my work ethic. I am a problem
        solver and I am always looking for ways to improve my problem solving
        skills. I am a team player and I am always willing to
      </p>
    </div>
    <div class="image">
      <img src="/profile-pic.png" alt="Willywes" />
    </div>
  </div>
</section>
<style lang="scss">
  #who-i-am {
    padding: 5rem 0;
    // background: linear-gradient(
    //   0deg,
    //   var(--bg-color) 0%,
    //   var(--bg-color) 50%,
    //   var(--bg-color-secondary) 100%
    // );
    color: var(--text-color);
  }
</style>
