---
import GithubIcon from "../components/icons/GithubIcon.astro";
import LinkedInIcon from "../components/icons/LinkedInIcon.astro";
import XIcon from "../components/icons/XIcon.astro";
import Intro from "../components/pages/cv/Intro.astro";
import SectionCV from "../components/pages/cv/SectionCV.astro";
import Presentation from "../components/pages/cv/sections/Presentation.astro";
import TechAndTools from "../components/pages/cv/sections/TechAndTools.astro";
import Layout from "../layouts/Layout.astro";
---

<Layout title="Alejandro Isla | Curriculum Vitae">
  <main class="max-w-[1024px] mx-auto p-6">
    <Intro />
    <div class="grid grid-cols-1 md:grid-cols-2 gap-20 py-6">
      <div class="grid gap-12">
        <Presentation />
      </div>
      <div class="grid gap-12">
        <TechAndTools />
      </div>
    </div>
  </main>
</Layout>
