---
import Welcome from "../components/pages/home/Welcome.astro";
import Layout from "../layouts/Layout.astro";
---

<Layout>
  <!-- <Header /> -->
  <main class="container container-xl mx-auto px-6 bg-slate-900">
    <Welcome />
    <!-- <WhatIHaveLearned /> -->
  </main>
  <!-- <footer>
		<div class="container container-xl mx-auto py-6"></div>
	</footer> -->
</Layout>
