<header>
    <div
        class="backdrop-blur-sm fixed top-0 left-0 right-0 z-10 py-6 container container-xl mx-auto px-6"
    >
        <nav>
            <ul class="flex gap-8 items-center justify-end">
                <li
                    class="hover:text-yellow-500 transition-colors duration-300"
                >
                    <a href="/">Home</a>
                </li>
                <li
                    class="hover:text-yellow-500 transition-colors duration-300"
                >
                    <a href="#what-i-have-learned">What I have learned</a>
                </li>
                <li
                    class="hover:text-yellow-500 transition-colors duration-300"
                >
                    <a href="#what-i-do">What I do</a>
                </li>
            </ul>
        </nav>
    </div>
</header>
