---
import SectionCV from "../CVSection.astro";
---

<SectionCV title="Mis Habilidades">
  <div class="grid gap-4">
    <div class="flex gap-6 items-center">
      <div class="w-14 h-14">
        <img
          src="/icons/aprendizaje-continuo.svg"
          class="w-full h-full object-contain"
          alt="Aprendizaje continuo"
        />
      </div>
      <span class="text-lg font-semibold">Aprendizaje continuo</span>
    </div>
    <div class="flex gap-6 items-center">
      <div class="w-14 h-12">
        <img
          src="/icons/adaptabilidad-cambio.svg"
          class="w-full h-full object-contain"
          alt="Adaptabilidad al cambio"
        />
      </div>
      <span class="text-lg font-semibold">Adaptabilidad al cambio</span>
    </div>
    <div class="flex gap-6 items-center">
      <div class="w-14 h-12">
        <img
          src="/icons/trabajo-equipo.svg"
          class="w-full h-full object-contain"
          alt="Trabajo en equipo"
        />
      </div>
      <span class="text-lg font-semibold">Trabajo en equipo</span>
    </div>
  </div>
</SectionCV>
