---
import SectionCV from "../SectionCV.astro";
---

<SectionCV title="Presentación">
  <p class="mb-4 text-lg">
    I have been working more than 15 years in the IT industry, developing
    software and leading development teams.
  </p>
  <p class="mb-4 text-lg">
    I have experience in the development of web applications, mobile
    applications, and desktop applications.
  </p>
  <p class="mb-4 text-lg">
    I have experience in the development of web applications, mobile
    applications, and desktop applications.
  </p>
</SectionCV>
