---
import SectionCV from "../SectionCV.astro";
import TechCard from "../TechCard.astro";
---

<SectionCV title="Tecnologías y Herramientas">
  <h3 class="uppercase text-lg font-bold text-slate-800 mb-4">
    Lenguajes de Programación
  </h3>
  <div class="grid grid-cols-[repeat(auto-fill,4.5rem)] gap-4 mb-8">
    <TechCard name="JavaScript" icon="/logos/javascript.svg" />
    <TechCard name="TypeScript" icon="/logos/typescript.svg" />
    <TechCard name="PHP" icon="/logos/php.svg" />
    <TechCard name="Kotlin" icon="/logos/kotlin.svg" />
    <TechCard name="Python" icon="/logos/python.svg" />
    <TechCard name="HTML5" icon="/logos/html5.svg" />
    <TechCard name="CSS3" icon="/logos/css3.svg" />
  </div>
  <h3 class="uppercase text-lg font-bold text-slate-800 mb-4">
    Frameworks y Librerías
  </h3>
  <div class="grid grid-cols-[repeat(auto-fill,4.5rem)] gap-4 mb-8">
    <TechCard name="Next.js" icon="/logos/nextjs.svg" />
    <TechCard name="Laravel" icon="/logos/laravel.svg" />
    <TechCard name="Django" icon="/logos/django.svg" />
    <TechCard name="React" icon="/logos/react.svg" />
    <TechCard name="Astro" icon="/logos/astro.svg" />
    <TechCard name="SolidJS" icon="/logos/solidjs.svg" />
    <TechCard name="Vue.js" icon="/logos/vue.svg" />
    <TechCard name="Electron" icon="/logos/electron.svg" />
    <TechCard name="jQuery" icon="/logos/jquery.svg" />
    <TechCard name="SAAS" icon="/logos/sass.svg" />
    <TechCard name="Tailwind" icon="/logos/tailwindcss.svg" />
    <TechCard name="Bootstrap" icon="/logos/bootstrap.svg" />
  </div>
  <h3 class="uppercase text-lg font-bold text-slate-800 mb-4">Base de datos</h3>
  <div class="grid grid-cols-[repeat(auto-fill,4.5rem)] gap-4 mb-8">
    <TechCard name="MySQL" icon="/logos/mysql.svg" />
    <TechCard name="PostgreSQL" icon="/logos/postgresql.svg" />
    <TechCard name="GraphQL" icon="/logos/graphql.svg" />
    <TechCard name="Supabase" icon="/logos/supabase.svg" />
  </div>
  <h3 class="uppercase text-lg font-bold text-slate-800 mb-4">
    Herramientas y Otros
  </h3>
  <div class="grid grid-cols-[repeat(auto-fill,4.5rem)] gap-4 mb-8">
    <TechCard name="Git" icon="/logos/git.svg" />
    <TechCard name="GitHub" icon="/logos/github.svg" />
  </div>
</SectionCV>
